.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 1s, opacity 1s;
    box-sizing: border-box;
}