.popup__picture {
    max-width: calc(75vw - 32px);
    max-height: calc(75vh - 32px);
    margin-top: 8px;
    margin-right: 45px;
}

@media screen and (max-width: 600px) {
    .popup__picture {
        margin: 0;
    }
}